<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, {{name}}</div>
<div><p><a href="http://google.com">Google</a></p></div>
<div><p><a href="http://facebook.com">Facebook</a></p></div>
</body>
</html>